<!--<app-logo></app-logo>
<app-info title="Remains" [text]="remains$ | async"></app-info>
<app-info title="Top" [text]="highestSpeed$ | async"></app-info>-->
<div id="wrapper">
    <img class="social" src="https://jwdcatalogimages.s3.amazonaws.com/catalog/Cupid/Vday%20header%201200x100.jpg" alt="logo" />
    <img class="no-social" src="https://jwdcatalogimages.s3.amazonaws.com/catalog/Cupid/Vday%20header%201200x100.jpg" alt="logo" height="150" />
    <a class="rules" (click)="navigate()"></a>
</div>
