<article *ngIf="isAuthorized" class="row m80 container">
    <div class="col-md-12" style="text-align:center;">
        <h1>SWEEPSTAKES RULES</h1>
    </div>
    <p>
        NO PURCHASE IS NECESSARY TO ENTER OR WIN, A PURCHASE WILL NOT INCREASE YOUR CHANCES OF WINNING.
        ALL FEDERAL, STATE, LOCAL, AND MUNICIPAL LAWS AND REGULATIONS WILL APPLY. VOID WHERE PROHIBITED
    </p>
    <ol>
        <li>
            <h3>Eligibility</h3>
            <p>
                The Cupid's Match Game (the "Sweepstakes") are open to legal residents of the fifty (50) United States, the District of Columbia and Canada
                who are at least eighteen (18) years old at the time of entry. Employees of {{Retailer.displayName}} and other companies associated with
                the promotion of the Sweepstakes, and their respective parents, subsidiaries, affiliates and advertising and promotion agencies as well as the immediate family
                (spouse, parents, siblings, and children) and household members of each such employee are not eligible. The Sweepstakes is subject to federal, state, and local laws and regulations
            </p>
        </li>
        <li>
            <h3>Sponsor</h3>
            <p>
                The Sweepstakes is sponsored by {{Retailer.displayName}}, located at {{Retailer.address}}.
                This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook. Any questions, comments or complaints regarding the promotion will be directed to Sponsor, not Facebook.
            </p>
        </li>
        <li>
            <h3>Agreement to Official Rules</h3>
            <p>
                Participation in the Sweepstakes constitutes entrant's full and unconditional agreement to and acceptance of these Official Rules and the decisions of the Sponsor, which are final and binding.
                Winning a prize is contingent upon being compliant with these Official Rules and fulfilling all other requirements set forth herein.
            </p>
        </li>
        <li>
            <!--<h3>Sweepstakes Period</h3>
    <div>
        The Sweepstakes begins on January 25, 2021 at 8:00 am Eastern Standard Time (EST) and ends on February 12, 2021 at 8:00 am Eastern Standard Time (EST) (the "Sweepstakes Period").
        The Sweepstakes consists of 3 Weekly Prize Periods as follows:
        <ul>
            <li>January 25 2021, 8:00 am EST &#8211; January 31 2021, Midnight EST</li>
            <li>February 1 2021, 12:00 am EST &#8211; February 7 2021, Midnight EST</li>
            <li>February 8 2021, 12:00 am EST &#8211; February 12 2021, 8:00 am EST</li>
        </ul>
        And all entries in the Grand Prize Period:
        <ul>
            <li>January 25 2021, 8:00 am EST &#8211; February 12 2021, 8:00 am EST</li>
        </ul>
        Entries will be eligible for the Weekly Prize Period in which they are received and will re-set at the end of each week. You must enter each Weekly Prize Period separately. All weekly entries will also be eligible for the Grand Prize.
        Entries that are submitted before or after the Sweepstakes Period will be disqualified. Submissions will be accepted for the duration of the Sweepstakes using any of the following methods:
        <b>Online</b>
    </div>-->
            <h3>Sweepstakes Period</h3>
            <div>
                The Sweepstakes begins on January 25, 2021 at 8:00 am Eastern Standard Time (EST) and ends on February 12, 2021 at 8:00 am Eastern Standard Time (EST) (the "Sweepstakes Period").
                Entries that are submitted before or after the Sweepstakes Period will be disqualified. Submissions will be accepted for the duration of the Sweepstakes using any of the following methods:
                <b>Online</b>
            </div>
        </li>
        <li>
            <h3>How to Enter</h3>
            <div>
                Online: You will receive one entry by visiting our website ({{Retailer.website}}) and completing the following steps:
                <ul>
                    <li>Match random merchandise to complete the board</li>
                    <li>Upon matching all elements (12 matches), follow the directions provided to fill out the entry information.</li>
                    <li>Click submit.</li>
                </ul>
            </div>
            <p>
                Limit one (1) entry per person, per email address, per week and per household for the duration of the Sweepstakes Period, regardless of method of entry.
                Entries received from any person, e-mail address, or household in excess of the stated limitation will be void.
                All entries become the property of Sponsor and will not be acknowledged or returned.
            </p>
            <p>
                Your entry and/or social profiles may NOT contain, as determined by us in our sole and absolute discretion, any content that is obscene or offensive, violent,
                defamatory, disparaging or illegal, or that promotes alcohol, illegal drugs, tobacco or a particular political agenda, or that communicates messages that may
                reflect negatively on the goodwill of {{Retailer.displayName}}.
            </p>
            <p>
                We are not responsible for excess, lost, late, or incomplete entries. If disputed, entries will be deemed submitted by the authorized account holder of the email address,
                social media account, or other method used to enter.
            </p>
        </li>
        <li>
            <h3>Prize Drawing</h3>
            <!--<p>
                Pending confirmation of eligibility, {{weeklyPrizeCount}} potential Weekly Prize Winner(s) will be selected each week by {{Retailer.DisplayName}} or their Agent in a random drawing from among all eligible entries within 7 days of the end of each Weekly Entry Period. The odds of being selected depend on the number of entries received.
            </p>-->
            <p>
                On or about February 12, 2021, the Sponsor will select one (1) potential Grand Prize Winner in a random drawing from among all eligible entries received. The odds of being selected depend on the number of entries received.
            </p>
        </li>
        <li>
            <h3>Winner Notification</h3>
            <p>
                The potential winners will be notified by email, mail, phone or Facebook at the end of each Weekly Prize Period and after the close of the Sweepstakes. If the potential winner cannot be contacted within five (5) days after the date of the first attempt to contact him/her, the Sponsor may select an alternate potential winner in his/her place at random from the remaining non-winning, eligible entries.
            </p>
            <p>
                Each potential Grand Prize winner (parent/legal guardian if a minor in his/her state of residence) will be required to complete,

                <!--Each potential Weekly and Grand Prize winner (parent/legal guardian if a minor in his/her state of residence) will be required to complete,-->
                sign (electronically or manually) and submit a Declaration of Compliance within five (5) days of the date notice or attempted notice is sent in order to claim his/her prize.
                If a potential winner cannot be contacted, or fails to submit the Declaration of Compliance within the required time period (if applicable), potential winner forfeits prize.
                If the potential winner is at least 18 but still considered a minor in his/her jurisdiction of residence, Sponsor reserves the right to award the prize in the name of his/her parent
                or legal guardian, who will be required to sign the Declaration of Compliance on the potential winner&#8217;s behalf and fulfill any other requirements imposed on winner set forth herein.
            </p>
            <p>
                Potential winners must continue to comply with all terms and conditions of these Official Rules, and winning is contingent upon fulfilling all requirements.
                In the event that a potential winner is disqualified for any reason, Sponsor may select to award the applicable prize to an alternate winner by random drawing from among all
                remaining eligible entries.
            </p>
            <p>Only three alternate winners will be selected for each drawing, after which unclaimed prizes will remain un-awarded.</p>
        </li>
        <li>
            <h3>Prizes</h3>
            <div>
                <!--This sweepstakes will award {{weeklyPrizeCount}} prize(s) weekly and one (1) Grand Prize at the end of the sweepstakes. The prizes consist of:
                <ul>
                    <li>Grand Prize &#8211; 1/2 carat total weight Diamond Heart Pendant. MSRP: {{GrandPrize}}</li>
                    <li>Weekly Prizes &#8211; {{GiftCard}} </li>
                </ul>
                By the close of the promotion, a total of up to {{numWin}} winners  will have been selected.-->
                This sweepstakes will award one (1) Grand Prize at the end of the sweepstakes. The prizes consist of:
                <ul>
                    <li>Grand Prize &#8211; 1/2 carat oval diamond. MSRP: $1,999.00</li>

                    <!--<li>Grand Prize &#8211; 1/2 carat total weight Diamond Heart Pendant. MSRP: {{GrandPrize}}</li>-->
                    <!--<li>Weekly Prizes &#8211; {{GiftCard}} </li>-->
                </ul>
                <!--By the close of the promotion, a total of up to {{numWin}} winners  will have been selected.-->
            </div>
            <p>
                The total Approximate Retail Value (ARV) of all prizes: $1,999.00<!--Up to {{prizeDrawingTotal}}-->. All prizes must be picked up in person by the verified winners at {{Retailer.displayName}},
                and a government issued identification must be presented. No substitution, transfer, or assignment of prize permitted, except that {{Retailer.displayName}} reserves the
                right to substitute a prize of equal or greater value in the event the offered prize is unavailable. Taxes on the prize, if any, are the sole responsibility of the winner,
                who is advised to seek independent counsel regarding the tax implications of accepting a prize. By accepting a prize, you agree that {{Retailer.displayName}} may use your entry,
                name, image and hometown online and in print, or in any other media, in connection with this Sweepstakes without payment or compensation to you, except where prohibited by law.
            </p>
        </li>
        <li>
            <h3>General Conditions</h3>
            <p>
                In the event that the operation, security, or administration of the Sweepstakes is impaired in any way for any reason, including, but not limited to fraud,
                virus, bug, worm, unauthorized human intervention or other technical problem, or in the event the Sweepstakes is unable to run as planned for any other reason,
                as determined by Sponsor in its sole discretion, the Sponsor may, in its sole discretion, either (a) suspend the Sweepstakes to address the impairment and then
                resume the Sweepstakes in a manner that best conforms to the spirit of these Official Rules or (b) terminate the Sweepstakes and, in the event of termination,
                award the prize at random from among the eligible, non-suspect entries received up to the time of the impairment. The Sponsor reserves the right in its sole discretion to
                disqualify any individual it finds to be tampering with the entry process or the operation of the Sweepstakes or to be acting in violation of these Official Rules or in
                an unsportsmanlike or disruptive manner. Any attempt by any person to damage the website or undermine the legitimate operation of the Sweepstakes may be a violation of
                criminal and civil law, and, should such an attempt be made, the Sponsor reserves the right to seek damages (including attorney's fees) and any other remedies from any
                such person to the fullest extent permitted by law. Failure by the Sponsor to enforce any provision of these Official Rules shall not constitute a waiver of that provision.
            </p>
        </li>
        <li>
            <h3>Release and Limitations of Liability</h3>
            <p>
                By participating in the Sweepstakes, entrants agree to release and hold harmless the Sponsor, and each of their respective parents, subsidiaries, affiliates,
                advertising and promotion agencies, other companies associated with the Sweepstakes, and each of their respective officers, directors, employees, shareholders, representatives,
                and agents (the Released Parties) from and against any claim or cause of action arising out of participation in the Sweepstakes or receipt or use of the prize (including any travel or
                activity related thereto), including, but not limited to: (a) any technical errors associated with the Sweepstakes, including lost, interrupted or unavailable Internet Service Provider
                (ISP), network, server, wireless service provider, or other connections, availability or accessibility or miscommunications or failed computer, satellite, telephone, cellular tower or
                cable transmissions, lines, or technical failure or jumbled, scrambled, delayed, or misdirected transmissions or computer hardware or software malfunctions, failures or difficulties;
                (b) unauthorized human intervention in the Sweepstakes; (c) mechanical, network, electronic, computer, human, printing or typographical errors; (d) application downloads,
                (e) any other errors or problems in connection with the Sweepstakes, including, without limitation, errors that may occur in the administration of the Sweepstakes,
                the announcement of the winner, the cancellation or postponement of the event and/or the flyover, if applicable, the incorrect downloading of the application, the processing of
                entries application downloads or in any Sweepstakes-related materials; or (f) injury, death, losses or damages of any kind, to persons or property which may be caused, directly or
                indirectly, in whole or in part, from entrants participation in the Sweepstakes or acceptance, receipt or misuse of the prize (including any travel or activity related thereto).
                Entrant further agrees that in any cause of action, the Released Parties liability will be limited to the cost of entering and participating in the Sweepstakes, and in no event shall
                the entrant be entitled to receive attorney's fees. Released Parties are also not responsible for any incorrect or inaccurate information, whether caused by site users, tampering,
                hacking, or by any equipment or programming associated with or utilized in the Sweepstakes. Entrant waives the right to claim any damages whatsoever, including, but not limited to,
                punitive, consequential, direct, or indirect damages.
            </p>
            <p>
                We reserve the right to correct typos, errors and descriptions as needed to maintain accurate information. Under no circumstances will {{Retailer.displayName}} be liable for misquoted content,
                including pricing or description errors. Colored gemstones, including diamonds, may be treated in accordance with best industry practices. All information and prices should be verified prior
                to final transactions.
            </p>
        </li>
        <li>
            <h3>Disputes</h3>
            <div>
                Except where prohibited, each entrant agrees that any and all disputes, claims and causes of action arising out of, or connected with, the Sweepstakes or any prize awarded
                shall be resolved individually, without resort to any form of class action, and exclusively by the appropriate court located in {{Retailer.state}}. All issues and questions concerning
                the construction, validity, interpretation and enforceability of these Official Rules, entrants rights and obligations, or the rights and obligations of the Sponsor in connection with
                the Sweepstakes, shall be governed by, and construed in accordance with, the laws of {{Retailer.state}}, without giving effect to any choice of law or conflict of law rules, which would
                cause the application of the laws of any jurisdiction other than {{Retailer.state}}.  All issues and questions concerning the construction, validity, interpretation and enforceability of
                these Official Rules, entrants rights and obligations, or the rights and obligations of the Sponsor in connection with the Sweepstakes, shall be governed by, and construed in accordance with,
                the laws of{{Retailer.state}}, without giving effect to any choice of law or conflict of law rules, which would cause the application of the laws of any jurisdiction other than {{Retailer.State}}.
            </div>
        </li>
        <li>
            <h3>Privacy</h3>
            <p>
                Information collected from entrants is subject to sponsor's privacy policy.
            </p>
        </li>
    </ol>
    <span class="col-md-12 return">
        <a (click)="navigate()">Click here to Return to Home</a>
    </span>
</article>
<article *ngIf="!isAuthorized" class="row m80">
    <h1 class="mid-center">You don't have permission to play the game with this retailer. Check with your retailer if you feel you have received this message in error.</h1>
</article>

